body{
    background-image: url(/imgs/card_contato/back.jpg);
}

.navheader{
    background-color: #081525;
}

footer{
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4A6D7C;
}

a{
    text-decoration: none;
}
.home, .servicos, .planos, .contato{
    color: azure;
}

.navfooter{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.cont{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: azure;
}

.col{
    padding: 40px;
}

