main{
    display: flex;
    flex-direction: column;
}

.formulario{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
form{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    margin-right: 100px;
}

.form1, .form2, .form3, .form{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    width: 100%;
}