body{
    background-image: url(https://previews.123rf.com/images/kran77/kran771609/kran77160900003/62044984-resumen-de-antecedentes-de-la-tecnolog%C3%ADa-ilustraci%C3%B3n-vectorial.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
    }

.navheader{
    background-color: #081525;
}

.footer{
    height: 152px;
    width: 100vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #4A6D7C;
    flex-shrink: 0;
   
    
}

a{
    text-decoration: none;
}
.home, .servicos, .planos, .contato{
    color: azure;
}

.navfooter{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.cont{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: azure;
}

.col{
    padding: 40px;
}